header{
    background-color: blue;
    color:yellow;
    height: 100px;
}
header nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline;
}
header nav ul li{
    color: yellow;
    float: left;
    padding: 10px;
}
body{
    background-color: palegoldenrod;
}
a:visited{
    color:white;
}
#derby{
    height:200px;
    width: 200px;
}
#outing{
    height: 200px;
    width: 400px;
}

h1{
    color:yellow;
    background-color: blue;
}
h2{
clear: both;
background-color: grey;
color: white;
}
h3{
    color: grey;
}
footer{
    clear: both;
}
input[type=text]{
    margin: 40px;
    width: 100px;
    height: 24px;
}
main{
    float: left;
    width: 50%;

}
#-Join {
    float: left;
    width: 30%;
    

}
#-sidebar{
    margin-left: 6px;
}
#contact-name{
    margin-left: 57px;
}
#email-address{
    margin-left: 57px;
}
#submit{
    margin: 35px;
}
#joinus{
    background-color: blue;
}
footer{
    background-color: blue;
    color: yellow;
}